<div class="first">
    <ng-container *mediaMatchOr="['sm','xs'];else large">
        <ng-container *mediaMatch="'nonHoverable';else nonHov">
            This is <b>mobile and Non Hoverable</b> screen
        </ng-container>
    </ng-container>

    <ng-template #large>
        This is Large screen
    </ng-template>
    <ng-template #nonHov>
        This is hov screen
    </ng-template>

</div>
<div class="text">
    <div [class]="{xs:'is-xs',sm:'is-sm',md:'is-md'} | mediaMatchDefault:'is-large'">
        Changes background as per media query => {{
        {xs:'It is mobile device'} | mediaMatchAsync:'It is not mobile device' | async
        }}
    </div>
</div>