* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Tahoma, sans-serif;
  background: #222;
}
.form-group {
  margin-bottom: 1rem;
  textarea.form-control,
  input.form-control {
    padding: 0.7rem 0.8rem;
    border: 1px solid #aaa;
    border-radius: 5px;
    width: -webkit-fill-available;
  }
  button.form-control {
    padding: 0.7rem 0.8rem;
    background: green;
    color: white;
    border: none;
    border-radius: 5px;
    width: -webkit-fill-available;
    font-weight: 600;
    cursor: pointer;
  }
}

.layout {
  padding: 1rem;
}
